
.square{
  background-color:beige ;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 44px;
  text-align: center;
  width: 44px;
  
}

.board-row {
  display: table;
  border: 1px solid;
}

